
/* import fonts */
@import url("fonts/museo-sans/stylesheet.css");

/* general page styles */
body
{
    background-color: #333;
    color: #ddd;
    width: 480px;
    font-family: museo-sans;
}

#header 
{
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2.3em;
    float:left;
}

#header #headerText 
{
    margin-left: 10px;
}

#toolbar
{
    float: right;
    margin-left: 20px;
}

#toolbar .button
{
    display: none;
    cursor: pointer;
}

#toolbar .toolbarBorder
{
    border: 1px dashed #ddd;   
}

div.clearFloats
{
    clear:both;
}

/* monitor styles */
/* Notification styles */
.info, .success, .warning, .error, .validation
{
    border: 2px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.info a,
.success a,
.warning a,
.error a,
.validation a
{
    color: #333;
    text-decoration: none;
}

.info a:hover,
.success a:hover,
.warning a:hover,
.error a:hover,
.validation a:hover
{
    text-decoration: underline;
}

.info
{
    color: #00529B;
    background-color: #BDE5F8;
    border-color: #3D81A1;
    background-image: url('images/info.png');
}

.success
{
    color: #4F8A10;
    background-color: #DFF2BF;
    border-color: #7a9d3e;
    background-image:url('images/success.png');
}

.warning
{
    color: #9F6000;
    background-color: #FEEFB3;
    border-color: #a5903a;
    background-image: url('images/warning.png');
}

.error
{
    color: #D8000C;
    background-color: #FFBABA;
    border-color: #A63C3C;
    background-image: url('images/error.png');
}