#contentArea
{
    min-height: 400px;
}

#monitorsTitle 
{
    margin-top: 15px;
    font-size: 1.3em;
}

.monitorBox 
{
    margin-top: 5px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #333;
}

.monitorBox .menuImage
{
    float: right;
    padding-right: 20px;
    padding-top: 8px;
    width: 12px;
    display: none;
}

.monitorBox .menuImage img:hover
{
    cursor: pointer;
}

.monitorLocation 
{
    padding-top: 5px;
    margin-left: 10px;
}

.monitorTemperature 
{
    font-size: 2em;
    padding-bottom: 15px;
    text-align: center;
    width: 93%;
    float: none;
}

.monitorDetails
{
    padding-left: 10px;
    padding-bottom: 5px;
}

.form-field
{
    vertical-align: middle;
}

.detailTitle
{
    font-weight: bold;
}

.detailLabel
{
    float: left;
    margin-left: 20px;
    width: 110px;
}

.detailData
{
    float: left;
    font-weight: bold;
}

.detailsLeft
{
    float: left;
    margin-bottom: 10px;
}

.detailsRight
{
    text-align: center;
    vertical-align: middle;
}

.closeDetailButton
{
    margin-top: 50px;
}

.clear
{
    clear: both;
}

.graphRangeOptions {
    width: 100%;
    text-align: center;
}

.graphRangeOptions a {
    float: left;
    margin-right: 5px;
}

.graphRangeOptions a.selected {
    text-decoration: none;
    color: black;
    cursor: default;
}

.graphRangeOptions a.unselected {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.closeHistoryButton {
    margin-top: 10px;
    margin-left: 10px;
}
/* popup menu styles */
ul.popupMenu
{
    display: none;
    position: absolute;
    width:100px;
    border:1px solid #ddd;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

ul.popupMenu, li.menuItem, li.menuItemTop, li.menuItemBottom 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.popupMenu li.menuItem 
{
    background:#333;
}

ul.popupMenu li.menuItemTop
{
    background:#333;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

ul.popupMenu li.menuItemBottom
{
    background:#333;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

ul.popupMenu a
{
    color: #ddd;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    display: block;
}

ul.popupMenu a:hover
{
    text-decoration: underline;
}

ul.popupMenu li.menuItem:hover, ul.popupMenu li.menuItemTop:hover, ul.popupMenu li.menuItemBottom:hover
{
    background-color: #555;
}

/* temperature related styles */
.temp-freezing 
{
    background-color: #0066ff;
}

.temp-very-cold
{
    background-color: #66a3ff;
}

.temp-cold
{
    background-color: #33cccc;
}

.temp-cool
{
    background-color: #00ff99;
}

.temp-mild
{
    background-color: #99ff99;
}

.temp-slightly-warm
{
    background-color: #ccff66;
}

.temp-warm
{
    background-color: #ccff33;
}

.temp-quite-hot
{
    background-color: #ffff00;
}

.temp-hot
{
    background-color: #ff9933;
}

.temp-very-hot
{
    background-color: #ff3300;
}

.temp-extremely-hot
{
    background-color: #800000;
}
