<!-- Javascript -->
<script src="{{root}}/scripts/MonitorSummary/MonitorSummaryController.js" type="text/javascript"></script>
<script src="{{root}}/scripts/MonitorSummary/MonitorSummaryDataLoader.js" type="text/javascript"></script>
<script src="{{root}}/scripts/MonitorSummary/MonitorSummaryView.js" type="text/javascript"></script>
<script src="{{root}}/scripts/DisplayController.js" type="text/javascript"></script>
<script src="{{root}}/scripts/ToolbarView.js" type="text/javascript"></script>

<script src="{{root}}/scripts/Tools/Browser.Http.js" type="text/javascript"></script>
<script src="{{root}}/scripts/Tools/Json.js" type="text/javascript"></script>
<script src="{{root}}/scripts/Tools/JsonDataLoader.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var view = new MonitorSummaryView($(document.body));
        var dataLoader = new MonitorSummaryDataLoader();
        var displayController = new DisplayController();
        var toolbarView = new ToolbarView($(document.body));
        var controller = new MonitorSummaryController(dataLoader, view, displayController, toolbarView);
        controller.init();
    });
</script> 

<!-- CSS -->
<link href="{{root}}/css/MonitorSummary.css" rel="stylesheet" type="text/css" />

<!-- Markup -->
<div id="contentArea">
    <div id="notificationArea"></div>
    <div id="monitorsTitle">Monitors</div>
    <div id="monitorsArea"></div>
</div>

<!-- Templates -->
<script id="monitorTemplate" type="text/x-jquery-tmpl"> 
    <div class="monitorBox ${Style}">
        <div class="monitorLocation">${Location}</div>
        <div class="menuImage"><img src="images/menu.png" /></div>
        <div class="monitorTemperature">${Temperature}&deg; ${Scale}</div>
        <div class="monitorDetails" id="monitorDetailsArea_${MonitorId}"></div>
    </div>
</script>

<script id="monitorMenuTemplate", type="text/x-jquery-tmpl">
    <ul class="popupMenu">
        <li><a href="#" id="history${id}">History ${id}</a></li>
        <li><a href="#" id="details${id}">Details</a></li>
        <li><a href="#" id="rename${id}">Rename</a></li>
    </ul>
</script>

<script id="unidentifiedMonitorMenuTemplate", type="text/x-jquery-tmpl">
    <ul class="popupMenu">
        <li><a href="#" id="history${id}">History ${id}</a></li>
        <li><a href="#" id="details${id}">Details</a></li>
        <li><a href="#" id="identify${id}">Identify</a></li>
    </ul>
</script>

<script id="unidentifiedMonitorTemplate" type="text/x-jquery-tmpl">
    <div class="warning">
        <a href="#" id="unidentifiedMonitorLink">
        There is an unidentified monitor reporting into the system.<br />
        Click here to identify it.
        </a>
    </div>
</script>

<script id="renameMonitorTemplate" type="text/x-jquery-tmpl">
    <form id="renameForm_${Id}">
        <label for="newMonitorName_${Id}">New Name:</label> <input type="text" id="newMonitorName_${Id}" class="form-field" />
        <img id="renameSubmitButton_${Id}" src="{{root}}/images/submit.png" title="Submit" class="button" />
        <img id="renameCancelButton_${Id}" src="{{root}}/images/cancel.png" title="Cancel" class="button" />
    </form>
</script>