<html>
    <head>
        <title>{{siteTitle}}</title>
        <script src="{{root}}/scripts/jQuery/jquery-1.8.1.js" type="text/javascript"></script>
        <script src="{{root}}/scripts/jQuery/jquery-ui-1.8.23.custom.min.js" type="text/javascript"></script>
        <script src="{{root}}/scripts/jQuery/jquery.blockUI.js" type="text/javascript"></script>
        <script src="{{root}}/scripts/jQuery/jquery.tmpl.js" type="text/javascript"></script>
        <link href="{{root}}/css/jquery-ui-1.8.23.custom.css" rel="stylesheet" type="text/css" />
        <link href="{{root}}/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <span id="headerText">Temperature Monitor</span>
        </div>
        {{content}}        
    </body>
</html>